<!DOCTYPE html>
<html><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <link rel="stylesheet" href="/testbed/styles.css" />
  <title>Planck.js — 2D physics engine for JavaScript/HTML5 game development</title>
</head><body>
  <div class="center">
    <div class="header">
      <table class="control">
        <tr><td>
        <a id="playbtn" class="pause"><span class="pause">Pause</span><span class="play">Play</span></a>
        </td><td>
        <a id="reloadbtn">Reload</a>
        </td><td>
        <a id="prevbtn">Prev</a>
        </td><td>
        <a id="nextbtn">Next</a>
        </td><td>
        <select id="dropdown">
          <option selected disabled hidden value=''>Select...</option>
          {{#examples}}<option value="{{url}}" {{#selected}}selected{{/selected}}>{{name}}</option>{{/examples}}
        </select>
        </td></tr>
      </table>
      <h3 class="title"><a href="https://github.com/shakiba/planck.js" title="GitHub">Planck.js<sup>&alpha;</sup></a></h3>
    </div>
    <canvas id="stage"></canvas>
    <div id="status"></div>
    <div id="info"></div>
  </div>
  <script src="/dist/planck-with-testbed.js"></script>
  <script src="/testbed/client.js"></script>
  <script src="{{{script}}}"></script>
</body></html>
