name: Build

on:
  push:
    branches: [v2]
  # pull_request:
  #   branches: [ v2 ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node.js 24
        uses: actions/setup-node@v4
        with:
          node-version: "24.x"

      - name: npm-install
        run: npm install

      - name: npm-test
        run: npm run test

      - name: npm-lint
        run: npm run lint

      - name: npm-build
        run: npm run build

      - name: npm-test-types
        run: npm run test:types

      - name: npm-typedoc
        run: npm run typedoc
